:root {
    --clr-main: #FCB31B;
    --clr-secondary: rgb(27, 27, 27);
    --clr-main-dark: #d09923;
    --clr-slate: #494949;
    --clr-slate-dark: #3a3a3a;
    --clr-text: #e6e6e6;
    --clr-main-darker: #b37e0f;
    --clr-slate-light: #5e5e5e;
    --clr-slate-lightish: #6e6e6e;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    color: var(--clr-text);
    background-color: var(--clr-main);
}
header {
    background-color: var(--clr-main-dark);
    text-align: center;
    font-size: 2rem;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}
#heading {
    margin-left: 40vw;
}
main {
    background-color: var(--clr-main);
}
button {
    color: var(--clr-text);
    border: 0;
    transition: all 0.3s ease;  
}
#big-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.big-button {
    margin: 1%;
    width: 45%;
    padding: 5.5% 0;
    border-radius: 10px;
    font-size: 3rem;
    background-color: var(--clr-main-dark);
}
.small-button {
    background-color: var(--clr-slate);
    border-radius: 50%;
    width: 20%;
    height: 11vh;
    font-size: 2rem;
    margin: 1%;
}
footer {
    background-color: var(--clr-main-dark);
    text-align: center;
    font-size: 1.3rem;
    padding: 1.2rem;
}
#calculator {
    background-color: var(--clr-secondary); 
    width: 32%;
    height: auto;
    margin: 2rem auto;
    padding: 15px;
    border-radius: 15px;
    animation: slideIn 1s;
}
#display {
    background-color: var(--clr-slate);
    color: var(--clr-text);
    text-align: right;   
   padding: 2rem 10px;
    width: 90%;
    height: 25%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 3.5rem;
}
#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.operator {
    background-color: var(--clr-slate-light);
}
.operator:hover {
    background-color: var(--clr-slate-lightish);
}
button:hover {
    cursor: pointer;
    background-color: var(--clr-slate-dark);   
}
button:hover {
    transform: translateY(-5px);
}
.big-button:hover {
    background-color: var(--clr-main-darker);
}
@keyframes slideIn {
    from {
        transform: translatey(150vh);
    }
    to {
        transform: translateX(0);
    }
}
@media (max-width: 1200px) {
    #calculator {
        width: 70%;
    }
    .small-button {
        height: 24vh;
    }
}
/* UI switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: var(--clr-slate-light);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: var(--clr-main);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    margin-left: 40vw;
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }